<!DOCTYPE html>
<html>
<head>
    <title>WMarket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <h1>Добро пожаловать</h1>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const authButton = document.getElementById('auth-button');

            if (Telegram.WebApp.initDataUnsafe.user) {
                Telegram.WebApp.expand();
                Telegram.WebApp.requestWriteAccess(() => {
                    sendDataToServer();
                });
            } else {
                Telegram.WebApp.openTelegramLink("https://t.me/test_tma8_bot?startapp", "_blank");
            }

            function sendDataToServer() {
                const initData = Telegram.WebApp.initData;

                const form = document.createElement('form');
                form.method = "POST";
                form.action = "/auth/login";

                const input = document.createElement("input");
                input.type = "hidden";
                input.name = 'initData';
                input.value = initData;

                form.appendChild(input);
                document.body.appendChild(form)
                form.submit();
            }
        });
    </script>
</body>
</html>